
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 96.1%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 233 64% 30%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 0% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0 0% 90%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 233 64% 30%;
    --chart-1: 233 64% 30%;
    --chart-2: 233 40% 50%;
    --chart-3: 233 30% 60%;
    --chart-4: 233 20% 70%;
    --chart-5: 233 10% 80%;
    --radius: 0.5rem;
    --sidebar-background: 233 64% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 233 64% 30%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 233 64% 35%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 233 64% 25%;
    --sidebar-ring: 233 70% 60%;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 0 0% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 215 20.2% 95.1%;
    --chart-1: 233 70% 70%;
    --chart-2: 233 60% 60%;
    --chart-3: 233 50% 50%;
    --chart-4: 233 40% 40%;
    --chart-5: 233 30% 30%;
    --sidebar-background: 233 64% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 0 0% 98%;
    --sidebar-primary-foreground: 233 64% 20%;
    --sidebar-accent: 233 64% 35%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 233 64% 25%;
    --sidebar-ring: 233 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
