
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 91%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 13% 91%;
    --muted-foreground: 220 8.9% 43.1%;
    --accent: 220 13% 91%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --radius: 0.5rem;
    --chart-1: 224 71.4% 4.1%;
    --chart-2: 0 84.2% 60.2%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  .no-print, 
  .no-print * {
    display: none !important;
  }
  
  .printable-area {
    background: #fff;
    color: #000;
  }

  .printable-area * {
    color: #000 !important;
    border-color: #ccc !important;
  }

  .text-red-500, .text-red-600 {
    color: #ef4444 !important;
  }
  .text-green-500, .text-green-600, .text-green-700 {
    color: #22c55e !important;
  }
}
